RewriteEngine On


Options -Indexes -MultiViews
DirectoryIndex rubix_graph.html
#DirectorySlash Off

#RewriteRule ^(.*)$ /fetch.php [QSA,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* index.php [QSA,L]
